{% block _credit_card_holderName_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {placeholder: "•••• •••• •••• ••••", class: 'form-control' }}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _credit_card_expirationDate_row %}
    <div class="form-group half-width padding-right">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {placeholder: "MM / YY", class: "form-control"}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _credit_card_cvvNumber_row %}
    <div class="form-group half-width padding-left">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {placeholder: "CVC", class: "form-control", maxlength: '4'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _credit_card_proceedCc_row %}
    {{ form_widget(form, {'attr': {class: "btn btn-main mt-20"}}) }}
{% endblock %}

{% block _credit_card_paypal_row %}
    {{ form_widget(form, {'attr': {class: "btn btn-blue mt-20"}}) }}
{% endblock %}
